#navcontainer
{
width: 100%;
border-right: 1px solid #000;
padding: 0 0 1em 0;
margin-bottom: 1em;
font-family: Helvetica, Arial,Verdana, Lucida, Geneva,sans-serif;/*font-family: Helvetica, Arial, Verdana, sans-serif;*/
background-color: #90bade;
color: #333;
margin:20px 0 20px 0;
}

#navcontainer ul
{
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#navcontainer li
{
border-bottom: 1px solid #90bade;
margin: 0;
}

#navcontainer li b
{
border-bottom: 1px solid #90bade;
margin: 0;
display: block;
padding: 5px 5px 5px 2em;
}

#navcontainer li a
{
display: block;
padding: 5px 5px 5px 3em;
border-left: 10px solid #444;
border-right: 10px solid #444;
background-color: #5d584b;
color: #fff;
text-decoration: none;
width: 100%;
}

html>body #navcontainer li a { width: auto; }

#navcontainer li a:hover
{
border-left: 10px solid #000;
border-right: 10px solid #000;
background-color: #646464;
color: #fff;
}

/***********************************************************************

#333333
#36332d
#454440
#5d584b
#646464
#666666

#2586d7

#1c64d1
#5ba3e0

************************************************************************
 new layout */
 
 
#head {position:relative /*fixed*/;display:block; width:100%;z-index:5;}

 .wrap-1200px {
	margin: 0 auto;
	position: relative;
	width: 1250px /*100%*/;
}

body {/*font-size:76%;*/ font-family:Helvetica, Arial,Verdana, Lucida, Geneva,  sans-serif; background:#ffffff; word-wrap:break-word;}

#header {background:#36332d;font-family:Helvetica, Arial,Verdana, Lucida, Geneva,  sans-serif;
		background: #171818;
		border-bottom: 1px solid #121213;
		/*height: 35px;*/}
		
#header-top {
	background: #171818;
	border-bottom: 1px solid #121213;
	height: 35px;
}
		
#header-bottom {
	background: #1f2124 url(/cssimg/sprites-bg.png) repeat-x;
	height: 81px;
	position: relative;
	padding:0 0 0 0 /*15%*/;
	font-family:Helvetica, Arial,Verdana, Lucida, Geneva,  sans-serif;
}

#zen {
	background: #4c4c4e url(/cssimg/sprites-bg.png) repeat-x 0 -102px;
	height: 9px;
}

#outer1 {float:left; width:15%; background:#c0c0c0;/*z-index:4;overflow: hidden;position:fixed;*/}
#outer2 {float:left; width:85%; background:#fff;/*border-left:2px solid black; border-right:2px solid black;*/}
#outer3 {float:right; width:0%; background:#b0b0b0;/*z-index:4;overflow: hidden;position:fixed;*/}
#outer1, #outer2, #outer3 {padding-bottom:32767px; margin-bottom:-32767px;}

#wrapper {overflow:hidden; background:#c0c0c0;margin: /*125px*/ 0 auto;
	position: relative /*fixed*/;
	width: /*100%*/ 1250px;}

#footer {clear:both; background:/*#455c5a#4a392f*/#1f2124;color:#ccc;font-size: 11px;overflow: hidden;position:fixed; margin:0; bottom:-1px; display:block; width:100%; height:50px;text-align:right; z-index:4;}

h1 {font-size:24px; margin:0; padding:0px 0px; color:#000;}
h3 {font-size:18px; margin:0; padding:8px 0px;}

.content {padding:10px 10px;font-size:14px;overflow:auto; position:relative; z-index:3;}
.content h1 {font-size:24px; margin:0; padding:10px 0px; color:#f6f6f6;}
.content h3 {font-size:18px; margin:0; padding:0px 0px;color:#f6f6f6;}


p {font-size:14px; line-height:1.5em; margin:0; padding:5px 0;}

#footer p

#header p {color:/*#bcae9d;*/#ccc;}

#footer a {color:#bcae9d;}

#footer a:hover {text-decoration:none;font-family:Helvetica, Arial,Verdana, Lucida, Geneva,  sans-serif;}

#page-title {
	border-bottom: 1px solid /*#bcbcbc*/ #000;
	height: 50px;
}

#page #page-title {
	border-bottom: 1px solid #bcbcbc;
	height: 60px;
	margin: 0 0 20px;
}

#page-title h1 {
	/*float: left;*/
	padding:0 0 0 15%;
	font-size: 24px;
	font-weight: bold;
	line-height: 36px;
	margin: 10px 10px;
	letter-spacing: -0.03em;
}


#page #page-title h1 {
	float: left;
	font-size: 36px;
	font-weight: bold;
	line-height: 36px;
	margin: 0;
	letter-spacing: -0.03em;
}
/************************checkbox************/

.checkbox, .radio {
  width: 19px;
  height: 25px;
  padding: 0 5px 0 0;
  background: url(checkbox.gif) no-repeat;
  display: block;
  clear: left;
  float: left;
}
.radio {
  background: url(radio.gif) no-repeat;
}
.select {
  position: absolute;
  width: 158px;
  height: 21px;
  padding: 0 24px 0 8px;
  color: #fff;
  font: 14px/21px arial,sans-serif;
  background: url(select.gif) no-repeat;
  overflow: hidden;
}



/********************************horizontal menu******************/
#styleswitcher2 {
	position: relative;
	left: 0;
	top: 0;
	background-color: #36332D;
	margin: 0.5% 0 2%;
	padding:1%;
	font: 14px/21px arial,sans-serif;
	color: #fff;
	float:right;
	}
	
	
	

#styleswitcher {
	position: relative;
	left: 0;
	top: 0;
	background-color: #36332D;
	width: 100%;
	margin: 0.8em 0 0 0 ;
}
#styleswitcher ul {
	margin: 0;
	padding: 0 0 0 15%;
	background-color: #36332D;
	height: 36px;
}
#styleswitcher li {
	display: block;
	float: left;
	list-style-type: none;
	padding: 5px 1em;
	height: 32px;
	border: none;
	border-left: 1px solid #7D796F;
	border-right: 1px solid #454440;
	margin: 0;
	background: #5D584B;
}

#styleswitcher li.active {
	border-bottom: none;
	font-weight: bold;
	background: white;
	height: 32px;
}
#styleswitcher a {
	text-decoration: none;
	color: white;
	text-shadow: 0 -1px 1px #000000;
}
#styleswitcher li:hover {
	
	background-color: #7D796F;
}
#styleswitcher li.active a {
	color: #333;
	text-shadow: none;
}


#hor-minimalist-a
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	margin: 45px;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-a td
{
	color: #669;
	padding: 9px 8px 0px 8px;
}
#hor-minimalist-a tbody tr:hover td
{
	color: #009;
}


#hor-minimalist-b
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: #fff;
	margin: 2%;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#hor-minimalist-b tbody tr:hover td
{
	color: #009;
}

